# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
**/bin/*
**/build/*

# debug
*.gcda
*.gcno

# vscode
.vscode/

#kdevelop
#.kdev4/
#*.kdev4

#coverage
**/coverage_out

#gtest/gmock
**/gtest
**/gmock


